.language {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
  }
  
  .dot-html {
    background-color: #E44D26; /* HTML color */
  }
  
  .dot-css {
    background-color: #264DE4; /* CSS color */
  }
  
  .dot-js {
    background-color: #F7DF1E; /* JavaScript color */
  }
  
  /* Add more dot colors and classes as needed */
  